<?php
define('DB_DRIVER', 'pdo_mysql');
define('DB_HOST', 'localhost');
define('DB_NAME', 'database_name_here');
define('DB_USER', 'user_name_here');
define('DB_PASSWORD', 'user_password_here');

define('SMTP_HOST', 'smtp.gmail.com');
define('SMTP_PORT', '465');
define('SMTP_USER', 'your_account@gmail.com');
define('SMTP_PASSWORD', 'your_password_here');
define('SMTP_ENCRYPTION', 'ssl');   // null to not use.
define('SMTP_AUTH_MODE', 'login');  // null to not use.
