<?php
$app['config.db.options'] = array(
    'driver' => 'pdo_mysql',
    'host' => 'localhost',
    'dbname' => 'dbname',
    'user' => 'user',
    'password' => 'password',
    'charset' => 'utf8',
);

$app['config.swiftmailer.options'] = array(
    'host' => 'smtp.gmail.com',
    'port' => '465',
    'username' => 'user@gmail.com',
    'password' => 'password',
    'encryption' => 'ssl',  // null to not use.
    'auth_mode' => 'login', // null to not use.
);
