{% extends 'emails/contact-form.txt.twig' %}

{% block body %}
{% spaceless %}
    {% for item in form %}
        <h3>{{ item.label }}</h3>
        <p>{{ item.value|join(', ')|nl2br }}</p>
        <hr/>
    {% endfor %}
{% endspaceless %}
{% endblock %}
