{% extends "layout.html.twig" %}

{% block content %}
    <h3>Welcome to your new Silex Application!</h3>
    <hr/>

    <div class="row">
        <div class="col-sm-6">
            <h4 class="well"><i class="fa fa-pencil-square-o"></i> Contact Form Sample</h4>
            {{ form(form) }}
        </div>
    </div>
{% endblock %}
